<div class="col-sm-12 cust-autofill padding-left-0">
    <input type="text" class="col-sm-12 cust-autofill-input-unique padding-left-0"
     [(ngModel)]="state" (focus)="onStateFocus(id)" [attr.id]="id" (ngModelChange)="onStateFocus(id)">
    <div class="col-sm-12" *ngIf="stateopen"  [attr.id]="menu">
        <ul>
            <li *ngFor="let state of states" (click)="stateSelected(state)">
                <div class="row">

                    <div class="col-sm-12 padding-left-0">
                        <div class="row"><i class="fa fa-plane" aria-hidden="true"></i> <b>{{state.city}} ({{state.code}})</b></div>
                        <div class="row">
                            <div class="col-sm-6">{{state.name}}</div>
                            <div class="col-sm-5" style="text-align: right;">{{state.country}}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>